@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div,button,ul{
    font-family: 'Roboto', sans-serif;     
}

/*header style*/

.header-conteiner{
    display:flex;
    background-color: chocolate;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}
.leftheader-conteiner{
    font-size:30px;
    font-weight: 1000;
    color: white;
    padding: 10px;
}
.rightheader-links{
    color:white;    
}
.rightheader-conteiner, .leftheader-conteiner{
    flex: 1;   
}
.rightheader-conteiner{
    display: flex;
    justify-content: end;
}
a{
    text-decoration: none;       
    color: bisque;
    margin: 5px;
}
/*content01 style*/
.content01-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: chocolate;
    padding: 80px 120px;
}
.photo{
    max-width: 60%;
    border-radius:10px;
}
.leftcontent01-conteiner,.rightcontent01-conteiner{    
    flex: 1;          
}
.rightcontent01-conteiner{
    display: flex;  
    justify-content: end;
    align-items: center;
}
.leftcontent01-conteiner{
    flex-direction: column; 
    color:whitesmoke        
}
.leftcontent01-signup{
    background-color:burlywood;
    border:none;
    border-radius: 10px;
    padding: 15px 25px;
    color: rgb(71, 67, 39);
    font-weight: 600;
    margin: 30px 0px;
}
.leftcontent01-title{
    font-weight: 1000;
    font-size: 48px;
}
.leftontent01-text{
    font-size: 18px;
}

/*content02 style*/

.content02-conteiner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 120px; 
}
.content02-contentConteiner{
    display:flex;
    justify-content: center;
    align-items: center;
}
.content02-title{
    color: #1F2937;
    padding-bottom: 50px;
}
.content02-itemtext{
    text-align: center;         
    color: #4f5f75;  
    max-width: 150px;
    max-height: auto;
    margin-top: 5px;
}
.photo_item{
    max-width: auto;
    max-height: 130px;
    border-radius: 12px;
}
.content02-itemConteiner{
    height: 150px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px; 
}
/*content03 style*/
.content03-conteiner{
    background-color: rgb(235, 205, 106);
    display:flex;    
    flex-direction: column;
    padding: 60px 160px;
    
}
.content03-text,.content03-subtext{
    flex:1;
    text-align:right;
    color:rgb(53, 53, 126);
    
}
.content03-text{
    font-style: italic;  
    font-size: 36px;
 }
.content03-subtext{
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
}

/*content04 style*/
.content04-conteiner{
    padding: 60px 120px
}
.content04-subconteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(206, 99, 56);
    border-radius: 12px;
    padding: 60px;
    color:whitesmoke;
}
.leftconteiner04-title{
    font-size:24px;
    font-weight: 700;    
}
.leftconteniner04-title{
    font-size:24px;
    font-weight: 400;
}
.leftcontent04-conteiner{
    flex: 2;
}
.rightcontent04-conteiner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.rightcontent04-button{
    background-color:burlywood;
    border:none;
    border-radius: 10px;
    padding: 10px 25px;
    color: rgb(61, 28, 9);
    font-weight: 600;
    margin: 5px 0px;
    font-size: 24;
}

/*footer style*/
.footer{
    text-align: center;
    background-color: #47180c;
    color:whitesmoke;
    padding: 20px 40px;
}